/* You can add global styles to this file, and also import other style files */

:root{
  --primary-color: #3F51B5;
  --accent-color: #FF4081;
  --warn-color: #F44336;
  --success: #2D884D;
  --warning: #ABB33B;
  --danger: #B34045;
  --fade-in-time: 200ms;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}

.mat-snack-bar-container .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0;
}

.mat-snack-bar-container.danger {
  color: white;
  background-color: var(--danger);
}

.mat-snack-bar-container.warning {
  color: white;
  background-color: var(--warning);
}

.mat-snack-bar-container.success {
  color: white;
  background-color: var(--success);
}

.simplebar-scrollbar::before {
  background-color: var(--accent-color) !important;
}
