h1::first-letter {
  text-transform: uppercase;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;

  .row{
    display: inline-flex;
    margin-top: 1em;
    margin-bottom: 1em;

    mat-form-field{
      width: 100%;
    }

  }
}
