<h1 mat-dialog-title>
  {{ action }} node
</h1>

<div mat-dialog-content>
  <form
    *ngIf="action === NodeFormActionsEnum.CREATE"
    [formGroup]="createForm"
    novalidate
  >
    <div class="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="1em">
      <mat-form-field fxFlex="100%" fxFlex.gt-sm="100%">
        <input matInput formControlName="name" placeholder="Name" />

        <mat-error *ngIf="createForm.controls.name.hasError('required')">
          Name is <strong>Required!</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <form
    *ngIf="action === NodeFormActionsEnum.UPDATE"
    [formGroup]="editForm"
    novalidate
  >
    <div class="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="1em">
      <mat-form-field fxFlex="100%" fxFlex.gt-sm="100%">
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>
    </div>

    <div class="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="1em">
      <mat-form-field fxFlex="100%" fxFlex.gt-sm="50%">
        <mat-select formControlName="moveFromParent" placeholder="Move From">
          <mat-option [value]="data.node.parentNode">
            {{ data.node.parentNode?.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100%" fxFlex.gt-sm="50%">
        <mat-select formControlName="moveToParent" placeholder="Move To">
          <mat-option
            *ngFor="let avaiableParent of avaiableParents"
            [value]="avaiableParent"
          >
            {{ avaiableParent.name }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="editForm.controls.moveToParent.hasError('required')">
          Move to is <strong>Required!</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="cancel()" cdkFocusInitial>
    Cancel
  </button>
  <button mat-stroked-button color="primary" (click)="confirm()">Save</button>
</div>
