<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{ node.data.name }}
    <div class="actions">
      <button mat-icon-button (click)="createNewNode(node.data)">
        <mat-icon>add</mat-icon>
      </button>
      <div *ngIf="node.level">
        <button mat-icon-button (click)="editNode(node.data)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteNode(node.data)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    {{ node.data.name }}
    <div class="actions">
      <button mat-icon-button (click)="createNewNode(node.data)">
        <mat-icon>add</mat-icon>
      </button>
      <div *ngIf="node.level">
        <button mat-icon-button (click)="editNode(node.data)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteNode(node.data)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-tree-node>
</mat-tree>
