.actions{

  display: inline-flex;
  button{

    mat-icon{
      transition: var(--fade-in-time);
      color: var(--accent-color)
    }
  }

  button:hover{

    mat-icon{
      color: var(--primary-color)
    }
  }
}


